<div class="sidebar">

    <h2>🚗 </h2>

    <ul>

        <li>
            <a href="/dashboard">
                🏠 Dashboard
            </a>
        </li>

        <li>
            <a href="/vehicles">
                🚘 Vehicles
            </a>
        </li>

        <li>
            <a href="/customers">
                👥 Customers
            </a>
        </li>

        <li>
            <a href="/rentals">
                📅 Rentals
            </a>
        </li>

        <li>
            <a href="/bills">
                💰 Bills
            </a>
        </li>

        <li>
            <a href="/logout">
                🚪 Logout
            </a>
        </li>

    </ul>

</div>